# Requirements file for external linters and checks we run on
# Tools/clinic, Tools/cases_generator/, and Tools/peg_generator/ in CI
mypy==1.19.1

# needed for peg_generator:
types-setuptools==84.0.0.20260812
types-psutil==7.1.3.20251211
